<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인 페이지</title>
  <div th:replace="/HFN/header.html :: headFragment"></div>
  <link rel="stylesheet" type="text/css" th:href="@{/css/userStyle.css}">
  <script th:src="@{/js/loginScript.js}" type="text/javascript"></script>
</head>
<body>
  <div th:replace="/HFN/nav.html :: navFragment"></div>

  <main>
    <div class="container">
      <form method="post" class="login-form" action="loginOk">
        <h2>로그인</h2>
        <input type="text" placeholder="ID를 입력하세요" name="u_id" required>
        <input type="password" placeholder="비밀번호를 입력하세요" name="u_pw" required>
        <button type="submit">로그인</button>
        <button type="button" onclick="signUp()">회원가입</button>
      </form>
    </div>
  </main>
  <footer>
    <div th:include="HFN/footer.html :: footer"></div>
  </footer>
</body>
</html>