<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/userStyle.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/HBF.css}">
    <script th:src="@{/js/signUpScript.js}" type="text/javascript"></script>
</head>
<body>
    <header>
        <h1>짱구's 팬사이트</h1>
    </header>
    <main>
        <div class="container">
            <form method="post" class="signup-form" action="signUpOk" onsubmit="return validateForm()">
                <h2>회 원 가 입</h2>
                <input type="text" placeholder="아이디" name="u_id" required>
                <input type="password" placeholder="비밀번호" name="u_pw" id="u_pw" required>
                <input type="password" placeholder="비밀번호 확인" id="u_pw_confirm" required>
                <input type="email" placeholder="Email" name="u_email" required>
                <button type="submit">신청</button>
                <button type="reset">다시입력</button>
                <button type="button" onclick="goBack()">취소</button>
            </form>
        </div>
    </main>
    <footer>
        <p>© 2023 JJangu. All rights reserved.</p>
    </footer>
</body>
</html>