<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>짱구's 팬사이트</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/list.css}">
</head>
<body>
  <div th:replace="/HF/header.html :: body"></div>

  <!-- Banner -->
  <section class="banner full" style="font-family: 'Poppins', sans-serif;">
    <article>
      <img th:src="@{images/image1.jpg}"  alt="" />
      <div class="inner">
        <header>
          <p>A free responsive web site template by <a th:href="@{home}">TEMPLATED</a></p>
          <h2>Hielo</h2>
        </header>
      </div>
    </article>
    <article>
      <img th:src="@{images/image2.jpg}"  alt="" />
      <div class="inner">
        <header>
          <p>Lorem ipsum dolor sit amet nullam feugiat</p>
          <h2>Magna</h2>
        </header>
      </div>
    </article>
    <article>
      <img th:src="@{images/image3.jpg}"  alt="" />
      <div class="inner">
        <header>
          <p>Sed cursus aliuam veroeros lorem ipsum nullam</p>
          <h2>Tempus</h2>
        </header>
      </div>
    </article>
    <article>
      <img th:src="@{images/image4.jpg}"  alt="" />
      <div class="inner">
        <header>
          <p>Adipiscing lorem ipsum feugiat sed phasellus consequat</p>
          <h2>Etiam</h2>
        </header>
      </div>
    </article>
    <article>
      <img th:src="@{images/image5.jpg}"  alt="" />
      <div class="inner">
        <header>
          <p>Ipsum dolor sed magna veroeros lorem ipsum</p>
          <h2>Adipiscing</h2>
        </header>
      </div>
    </article>
  </section>

  </div>
  <div th:replace="HF/footer.html :: footer"></div>

<!-- script -->
  <script th:src="@{js/jquery.scrollex.min.js}"></script>
</body>
</html>