<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>짱구's 팬사이트</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/list.css}">
</head>
<body>
  <div th:replace="/HF/header.html :: body"></div>

  <!-- Banner -->
  <section class="banner full" style="font-family: 'Poppins', sans-serif;">
    <article>
      <img th:src="@{images/image1.jpg}"  alt="" />
      <div class="inner">
        <header>
          <p>짱구의 팬사이트에 오신것을 환영합니다 !</p>
          <h2>Welcome
          </h2>
        </header>
      </div>
    </article>
    <article>
      <img th:src="@{images/image2.jpg}"  alt="" />
      <div class="inner">
        <header>
          <p>짱구는 못말려 : 아뵤! 쿵후 보이즈 라면 대란(2018)</p>
          <h2>극장판</h2>
        </header>
      </div>
    </article>
    <article>
      <img th:src="@{images/image3.jpg}"  alt="" />
      <div class="inner">
        <header>
          <p>태풍을 부르는 불타는 떡잎마을 런너!!(2020)</p>
          <h2>닌텐도스위치</h2>
        </header>
      </div>
    </article>
    <article>
      <img th:src="@{images/image4.jpg}"  alt="" />
      <div class="inner">
        <header>
          <p>피규어 : 동물 옷을 입은 짱구</p>
          <h2>굿즈</h2>
        </header>
      </div>
    </article>
    <article>
      <img th:src="@{images/image5.jpg}"  alt="" />
      <div class="inner">
        <header>
          <p>첫 발간 이후 최초로 짱구는 못말려 3D 출시</p>
          <h2>극장판 3D</h2>
        </header>
      </div>
    </article>
  </section>

  </div>
  <div th:replace="HF/footer.html :: footer"></div>

<!-- script -->
  <script th:src="@{js/jquery.scrollex.min.js}"></script>
</body>
</html>