<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>짱구's 팬사이트</title>
    <!-- 부트스트랩 링크 추가 -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/list.css}">
</head>
<body>
  <div th:replace="/HF/header.html :: body"></div>

  <div id="mainCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#mainCarousel" data-slide-to="1"></li>
      <li data-target="#mainCarousel" data-slide-to="2"></li>
      <li data-target="#mainCarousel" data-slide-to="3"></li>
      <li data-target="#mainCarousel" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner" style="width:60%; height:60%; margin:150;">
      <div class="carousel-item active" th:style="'background-image: url(\'/images/image1.jpg\');'"></div>
      <div class="carousel-item" th:style="'background-image: url(\'/images/image2.jpg\');'"></div>
      <div class="carousel-item" th:style="'background-image: url(\'/images/image3.jpg\');'"></div>
      <div class="carousel-item" th:style="'background-image: url(\'/images/image4.jpg\');'"></div>
      <div class="carousel-item" th:style="'background-image: url(\'/images/image5.jpg\');'"></div>
    </div>
    <a class="carousel-control-prev" href="#mainCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#mainCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div><br>
  <div th:replace="HF/footer.html :: footer"></div>

<!-- 부트스트랩 JS 및 추가 스크립트 -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  $('.carousel').carousel({
    interval: 5000
  });
</script>
</body>
</html>