<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
  <!-- Header -->
  <header id="header">
    <a th:href="@{/home}" class="logo"><strong>짱구's</strong> 팬사이트</a>
    <nav>
      <a th:href="@{/user/login}">Login</a>
      <a href="#menu">Menu</a>
    </nav>
  </header>
  <!-- Nav -->
  <nav id="menu">
    <ul class="links">
      <li><a th:href="@{/home}">Home</a></li>
      <li><a th:href="@{/board/list}">Board</a></li>
      <li><a th:href="@{/goods/list}">Goods</a></li>
    </ul>
  </nav>

  <!-- Scripts -->
  <script th:src="@{/js/jquery.min.js}"></script>
  <script th:src="@{/js/jquery.scrolly.min.js}"></script>
  <script th:src="@{/js/skel.min.js}"></script>
  <script th:src="@{/js/util.js}"></script>
  <script th:src="@{/js/main.js}"></script>

</body>
</html>