<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>짱구's 게시판</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/list.css}">
</head>
<body>
    <div th:replace="/HF/header.html :: body"></div>

    <h2 class="title" align="center">짱구 게시판</h2>
    <div class="board">
        <form class="search">
            <input type="search" placeholder="제목을 입력하세요" aria-label="Search">
            &nbsp;
            <button type="submit">검색</button>
            &nbsp;
            <button type="button" onclick="location.href='../board/write'">작성</button>
        </form>
        <hr>
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>닉네임</th>
                        <th>제목</th>
                        <th>내용</th>
                        <th>작성일</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="board : ${boardList}">
                        <td>[[${board.b_id}]]</td>
                        <td>[[${board.b_id}]]</td>
                        <td>[[${board.b_title}]]</td>
                        <td>[[${board.b_content}]]</td>
                        <td>[[${board.b_created}]]</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr>
    </div>
    <div class="pagination">
            <a href="#" class="page-link">1</a>
            <a href="#" class="page-link">2</a>
            <a href="#" class="page-link">3</a>
        </div>
        <br>
    <div th:replace="HF/footer.html :: footer"></div>
</body>
</html>