<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>짱구 게시판</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/boardStyle.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/HBF.css}">
</head>
<body>
    <header>
        <div th:include="HF/header.html :: header"></div>
    </header>
    <main>
        <div class="board">
        <h2>짱구 게시판</h2><br>
            <div class="post">
                <h2 class="post-title">Post Title 1</h2>
                <p class="post-content">This is the content of the first post.</p>
            </div>
            <div class="post">
                <h2 class="post-title">Post Title 2</h2>
                <p class="post-content">This is the content of the second post.</p>
            </div>
        <hr>
        <p align="right"><button type="button" onclick="location.href='../board/write'">작성</button></p>
        </div>
        <div class="pagination">
            <a href="#" class="page-link">1</a>
            <a href="#" class="page-link">2</a>
            <a href="#" class="page-link">3</a>
        </div>
    </main>
    <footer>
        <div th:include="HF/footer.html :: footer"></div>
    </footer>
</body>
</html>